@tailwind base;

@layer base {
  html {
    @apply text-neutral-800;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }

  #call-to-action {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@tailwind components;
@tailwind utilities;
